:root {
    --azul: rgb(27 43 75);
    /* --azul-transparente: rgba(9, 14, 24, 0.9); */
    --azul-transparente-sec: rgba(9, 14, 24, 0.85);
    --blanco: #eee;
    --amarillo: rgb(254 190 1);
    --fuente-titular: 'Zen Maru Gothic', sans-serif;
    --border: .1rem solid rgba(255,255,255,.3);
}

a {
    text-decoration: none;
    /* color: var(--blanco); */
    color: var(--azul);

}

img {
    display: block;
    margin: 0 auto;
}

.cursos p {
    text-align: left;
}

.cursos .contenedor-curso {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    justify-items: center;
    align-items: center;
}

.box-clase {
    height: 320px;
    padding-top: 2rem;
    border: 3px solid rgb(252 40 38);
    border-radius: 20px;
    color: var(--azul);
    overflow: hidden;
    box-shadow: 10px 10px 10px rgb(10,10,10,.5);
}

.box-clase a {
    display: block;
    width: 100%;
    height: 100%;
    background: var(--azul);
}

.box-clase a .image {
    background: #fff;
    padding-bottom: 1.5rem;

}

.box-clase h3 {
    height: 102px;
    width: 100%;
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.5;
    padding: .5rem 1.5rem 3rem;
    background: var(--azul);
    color: var(--blanco);
    transition: 0s color;
    border-radius: 0 0 20px 20px;   
}

.box-clase h3 span {
    transition: 0s color;
}

.box-clase a:hover h3 {
    color: var(--amarillo);
}

.box-clase a:hover img {
    transform: scale(1.05);
}

@media (max-width: 1108px) { /* Agregar 18px al valor que deseo */
    .principal .cursos div.contenedor-curso {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-content: center;
    }

}

@media screen and (max-width: 860px) {
    .navbar > ul:target{
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--azul);
        height: 100vh;
        padding-top: 2rem;
        z-index: 200;
    }

    
}

@media (max-width: 725px) { /* Agregar 18px al valor que deseo */
    .principal .cursos div.contenedor-curso {
        grid-template-columns: 320px;
        justify-content: center;
        align-content: center;
    }

}
